* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: transparent;
    color: #0a0a0a;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: background-color 0.4s ease, box-shadow 0.4s ease;
}

#main-header.scrolled {
    background-color: #f8f9fa;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

nav {
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    position: sticky;
}

nav .logo {
    align-items: center;
    display: inline-flex;
    gap: 5px;
    font-size: 24px;
    font-weight: bold;
}

nav .logo img {
    height: 60px;
    width: 60px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin-left: auto;
}

nav ul li a {
    color: #0a0a0a;
    text-decoration: none;
    font-size: 17px;
    transition: color;
    height: 100%;
}

nav .akun a {
    background-color: #4ecdc4;
    padding: 8px 16px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    margin-left: 20px;
}

nav .akun a:hover {
    background-color: #38b2ac;
    color: white;
}

.menu {
    font-size: 18px;
    gap: 24px;
}

.menu a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

#hero {
    background-image: url('assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: local;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: space-between;
    min-height: 600px;
    /* atur tinggi banner */
    color: white;
}

/* kanan: gambar poster */
.hero-image {
    margin-top: 150px;
}

.hero-image img {
    height: 350px;
    width: 250px;
    margin: 20px 100px 20px 50px;
    border-radius: 12px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

/* kiri: judul & deskripsi */
.container {
    flex: 1;
    margin: 0 0px 50px 5px;
    padding: 0 200px 0 100px;
    align-content: end;
    text-align: left;
}

.container h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.container p {
    font-size: 16px;
    line-height: 1.6;
}

/* button watch now */
#watch {
    padding: 10px;
    width: 100px;
    color: white;
    background-color: transparent;
    border-radius: 2ch;
    border: 2px solid;
    border-color: #b8b6b6;
}

#watch:hover {
    border-color: white;
    cursor: pointer;
}

/* Most-viewed Section */
#films {
    text-align: left;
    padding: 50px 50px;
}

#films h2 {
    font-weight: bold;
    font-size: 34px;
}

#most-viewed, #most-popular {
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode';
    font-size: 20px;
}

.category h3 {
    font-size: 24px;
    color: #1c1c1c;
}

/* Card film/series */
.card-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    gap: 24px;
    justify-content: flex-start;
}

.card {
    flex: 0 0 auto;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
  width: 180px;
  height: 270px;
  object-fit: cover;
}

.card p {
  padding: 10px;
  font-size: 15px;
  text-align: center;
  color: #1c1c1c;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255,255,255,0.3);
  cursor: pointer;
}

footer {
    background-color: #1c1c1c;
    color: white;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 30px;
    padding: 40px 60px 20px;
    font-size: 14px;
    height: 240px;
    width: 100%;
    max-width: 1440px;
    line-height: 22px;
}

footer h4 {
    margin-bottom: 10px;
    font-size: 16px;
}

footer ul {
    list-style: none;
}

footer ul li {
    margin-bottom: 6px;
    color: azure;
}

footer ul li a {
    color: #bbb;
    text-decoration: none;
}

footer ul li a:hover {
    color: white;
}

@media (max-width: 768px) {
    .hero-image img {
            margin: 20px 50px 20px 5px;
    }

    .container {
        flex: 1;
        margin: 0 0px 50px 5px;
        padding: 0 50px 0 50px;
        align-content: end;
        text-align: left;
    }

    .container h1 {
        font-size: 20px;
    }

    .container p {
        font-size: 12px;
    }

    footer {
        height: auto;
        /* biar ngikut isi */
        flex-wrap: wrap;
        gap: 20px;
    }
}

@media (max-width: 1200px) and (min-width: 769px) {
  .container {
    margin: 0 0px 50px 5px;
    padding: 0 80px 0 60px;
  }

  .container p {
    font-size: 14px;
  }

  .hero-image img {
    margin-right: 60px;
    width: 230px;
  }
}

@media (max-width: 600px) {
    #hero {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .hero-image {
        margin-left: 50px;
    }
}
