body {
    background: #f8f9fa;
}

.hero-box {
    background: #212529;
    color: white;
    padding: 40px;
    border-radius: 12px;
}

.movie-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}

.movie-card img {
    width: 100%;
    transition: 0.3s;
}

.movie-card:hover img {
    transform: scale(1.05);
}

.movie-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s;
}

.movie-card:hover .movie-overlay {
    opacity: 1;
}
